<h3>Hello {{userInfo ? userInfo.display_name : ''}}!</h3>

<button (click)="analyzeNewestActivity()">Analyze newest activity</button>

<br>
<hr>

<div *ngFor="let songEffort of effortsWithSongs">
    <strong>Segment Name: </strong>{{songEffort.effort.name}}
    <div>PR Rank {{songEffort.effort.pr_rank ? songEffort.effort.pr_rank : 'faster average'}}</div>
    <strong>Songs Listened To: </strong>
    <ul>
        <li *ngFor="let song of songEffort.songs">
            <div>{{song.track.name}}</div>
        </li>
    </ul>
    <hr>
</div>